<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<div>
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Message</td>
        <td>Time</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
  <div>
    Title
    <br>
    <input type="text">
  </div>
  <div>
    Message
    <br>
    <input type="text">
  </div>
  <br>
  <button class="btn btn-default" type="button">Submit</button>
</div>
